.page {
  flex: 1;
  min-height: 0;
  background: #e2e4e8;
  padding: 1rem;
}

.content {
  width: min(100%, 120rem);
  margin: 0 auto 0 0;
  position: relative;
}

@media (max-width: 900px) {
  .page {
    padding: 0.65rem;
    padding-bottom: 4.6rem;
  }
}
